footer{
    width: 100vw;
    background-color: black;
    color: white;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}